Repository googleapis/java-storage, pull requests merged in 2021-09, with the labels that each got.

#996 chore(java): install maven 3.8.1 at runtime
  .github/workflows/ci.yaml
  synth.metadata
Labels: kokoro:force-run, cla: yes, api: storage, automerge, context: full

#968 chore: update gapic-generator-java version to 2.1.0
  gapic-google-cloud-storage-v2/src/main/java/com/google/storage/v2/stub/StorageStubSettings.java
  synth.metadata
Labels: cla: yes, api: storage, automerge, context: full

#999 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: cla: yes, api: storage, automerge

#1002 chore(java): update windows build
  .github/workflows/ci.yaml
  synth.metadata
Labels: cla: yes, api: storage, context: full

#1003 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: cla: yes, api: storage, automerge

#1005 build: remove reporting section in favor of the config from shared-config
  pom.xml
Labels: cla: yes, api: storage, automerge

#1006 chore: Update CODEOWNERS for @googleapis/cloud-storage-dpe
  .github/CODEOWNERS
  .repo-metadata.json
Labels: cla: yes, api: storage

#1009 chore: remove readme autosynth config
  .github/readme/synth.metadata/synth.metadata
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: cla: yes, api: storage, automerge

#1017 chore: cleanup usage of runWithRetries
  google-cloud-storage/src/main/java/com/google/cloud/storage/CopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
Labels: cla: yes, api: storage

#939 test: add retry conformance tests
  google-cloud-storage/assets/retry-conformance-tests-diagram.png
  google-cloud-storage/assets/retry-conformance-tests-diagram.txt
  google-cloud-storage/conformance-testing.md
  google-cloud-storage/pom.xml
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/CleanupStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/Ctx.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/CtxFunctions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/Functions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/GracefulConformanceEnforcement.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ParallelParameterized.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RetryTestFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethod.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMapping.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/State.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestBench.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestRetryConformance.java
  google-cloud-storage/src/test/resources/com/google/cloud/storage/conformance/retry/hello-world.txt
  google-cloud-storage/src/test/resources/com/google/cloud/storage/conformance/retry/testNamesWhichShouldSucceed.txt
Labels: cla: yes, api: storage

#1031 test: retry conformance tests/fixes 1
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/CtxFunctions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMapping.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/State.java
  google-cloud-storage/src/test/resources/com/google/cloud/storage/conformance/retry/testNamesWhichShouldSucceed.txt
Labels: cla: yes, api: storage

#1026 chore(test): increase thread count for ParallelParameterized
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ParallelParameterized.java
Labels: cla: yes, api: storage

#1040 test: retry conformance tests fixes, round 2
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/CtxFunctions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/State.java
Labels: cla: yes, api: storage

#1042 chore(java): remove dependencyDashboardLabel config from renovate.json
  renovate.json
  synth.metadata
Labels: cla: yes, api: storage, context: full

#1029 chore(retry): introduce RetryAlgorithmManager
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/CopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/LegacyRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/NewRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableMedia.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResumableMediaTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageBatchTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RetryTestFixture.java
Labels: cla: yes, api: storage

#1051 fix: update PAP to use inherited instead of unspecified
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: cla: yes, api: storage

#1049 test: add positive case for ResumableMedia#startUploadForSignedUrl
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableMedia.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResumableMediaTest.java
Labels: cla: yes, api: storage

#1050 test: retry conformance tests fixes, round 3
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/resources/com/google/cloud/storage/conformance/retry/testNamesWhichShouldSucceed.txt
Labels: cla: yes, api: storage

#993 fix(1.113.14-sp): backport critical bug fixes
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/testing/StorageRpcTestBase.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: cla: yes, api: storage

#1054 chore(1.113.14-sp): backport install maven 3.8.1 at runtime
  .github/workflows/ci.yaml
Labels: cla: yes, api: storage

#1059 chore: change branch master to main in github configurations
  .github/blunderbuss.yml
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  README.md
Labels: cla: yes, api: storage, automerge
