Repository googleapis/java-storage, pull requests merged in 2022-01, with the labels that each got.

#1152 docs: add new sample storage_configure_retries
  README.md
  samples/snippets/src/main/java/com/example/storage/ConfigureRetries.java
  samples/snippets/src/test/java/com/example/storage/ConfigureRetriesTest.java
Labels: cla: yes, api: storage, samples

#1188 docs: update comments
  samples/snippets/src/main/java/com/example/storage/ConfigureRetries.java
Labels: api: storage

#1160 fix: Remove all client side validation for OLM, allow nonspecific lif…
  README.md
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
  samples/snippets/src/main/java/com/example/storage/ConfigureRetries.java
Labels: cla: yes, api: storage

#1200 chore: change name to api_shortname in .repo-metadata.json
  .repo-metadata.json
Labels: api: storage, automerge, owlbot:ignore

#1206 chore: update release-level in .repo-metadata.json
  .repo-metadata.json
Labels: api: storage, automerge, owlbot:ignore

#1210 fix: Remove post policy v4 client side validation
  google-cloud-storage/src/main/java/com/google/cloud/storage/PostPolicyV4.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PostPolicyV4Test.java
Labels: api: storage

#1214 test: bump storage-testbench to v0.11.0
  google-cloud-storage/src/test/java/com/google/cloud/storage/DataGeneration.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestBench.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
Labels: api: storage
