Repository googleapis/java-storage, pull requests merged in 2022-04, with the labels that each got.

#1309 fix: add gccl-invocation-id interceptor
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpRpcContext.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageOptionsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/spi/v1/HttpRpcContextTest.java
Labels: api: storage

#1340 test: Updates for Dual Region and testing
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage

#1341 docs: Adding Samples for Creating Dual Region Buckets
  README.md
  samples/snippets/src/main/java/com/example/storage/bucket/CreateBucketDualRegion.java
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketDualRegionTest.java
Labels: api: storage, samples

#1349 fix: privatize invocation flag
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageOptionsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/spi/v1/AuditingHttpTransport.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/spi/v1/HttpRpcContextTest.java
Labels: api: storage, size: m

#1351 chore: privatize invocation id getters
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageOptionsTest.java
Labels: api: storage, size: s

#1348 fix(java): add service account email to Native Image testing kokoro job
  .kokoro/presubmit/graalvm-native.cfg
  owlbot.py
Labels: api: storage, size: xs

#1325 docs: add new storage_download_byte_range samples
  README.md
  samples/snippets/src/main/java/com/example/storage/object/DownloadByteRange.java
  samples/snippets/src/test/java/com/example/storage/object/DownloadBytesRangeTest.java
Labels: api: storage, samples, size: m

#1354 feat: Add downloadTo to the Storage interface
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: l

#1364 test: Adding unique identifier to Notification Samples Topics
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/DeleteBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/ListPubSubNotificationsTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintPubSubNotificationTest.java
Labels: api: storage, size: s

#1373 docs(sample): removing unnecessary native-image-support dependency
  samples/native-image-sample/pom.xml
Labels: api: storage, automerge, samples, size: xs
