Repository googleapis/java-storage, pull requests merged in 2022-11, with the labels that each got.

#1697 feat: add Autoclass support and sample
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  samples/snippets/src/main/java/com/example/storage/bucket/GetBucketAutoclass.java
  samples/snippets/src/main/java/com/example/storage/bucket/SetBucketAutoclass.java
  samples/snippets/src/test/java/com/example/storage/bucket/AutoclassTest.java
Labels: api: storage, samples, size: l

#1766 chore: set and wire through gccl header entry
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, size: s

#1768 test(deps): update testbench version to v0.32.0
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestBench.java
Labels: api: storage, size: xs

#1772 fix: update GrpcStorageImpl#get(BlobId) to return null on 404
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: s

#1775 docs: annotate all Option factory methods with their Nullability bounds
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UnifiedOptsTest.java
Labels: api: storage, size: l

#1788 chore: update native image checks to graalvm-22.3.0
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
Labels: api: storage, automerge, size: xs
