Repository googleapis/java-storage, pull requests merged in 2022-08, with the labels that each got.

#1531 test: add regression tests for each Option on our public api
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/CSEKSupport.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/RequestAuditing.java
Labels: api: storage, size: xl

#1554 chore: upgrade testbench v0.28.0
  README.md
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestBench.java
Labels: api: storage, automerge, size: xs

#1555 chore: disable auto-release
  .github/workflows/auto-release.yaml
  README.md
  owlbot.py
  renovate.json
Labels: api: storage, size: m

#1557 chore: add internal blobWriteChannel hook to override StorageOptions
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannel.java
Labels: api: storage, size: xs

#1560 chore: update usage of TestBench to all use the default version
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
Labels: api: storage, size: xs

#1558 chore: update double check lazy initialization idiom
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferHandle.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ChannelSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
Labels: api: storage, size: m

#1539 test: refactor Integration tests Part 1
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITSignedUrlTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: xl

#1520 docs: Fix broken links in readme
  .readme-partials.yaml
  README.md
  google-cloud-storage/src/main/java/com/google/cloud/storage/package-info.java
Labels: api: storage, size: m

#1563 chore: preliminary implementation of gRPC status code to HTTP Status code translation
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BackwardCompatibilityUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageExceptionGrpcCompatibilityTest.java
Labels: api: storage, size: l

#1559 docs: add batch sample
  README.md
  samples/snippets/src/main/java/com/example/storage/object/BatchSetObjectMetadata.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
Labels: api: storage, samples, size: m

#1566 docs: Document thread safety of library
  google-cloud-storage/src/main/java/com/google/cloud/storage/package-info.java
Labels: api: storage, size: xs

#1568 chore: remove ZOpt replacing with UnifiedOpts
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ZOpt.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UnifiedOptsGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ZOptTest.java
Labels: api: storage, size: xl

#1577 chore: fixes for GrpcBlobWriteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
Labels: api: storage, size: s

#1573 test: add error handling and retry tests for GapicUnbufferedReadableByteChannel
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Crc32cValue.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Hasher.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResultRetryAlgorithmCompatibilityTest.java
Labels: api: storage, size: l

#1576 feat: implement GrpcStorageImpl#*HmacKey
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UnifiedOptsGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/HmacKeyMetadataArbitraryProvider.java
Labels: api: storage, size: m

#1582 chore: fix bad merge
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: xs

#1571 chore: implement retries for List operations in GrpcStorageImpl
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcTransformPageDecoratorTest.java
Labels: api: storage, size: l

#1581 samples: Adding Metadata to dual-region sample
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  samples/snippets/src/main/java/com/example/storage/bucket/CreateBucketDualRegion.java
Labels: api: storage, samples, size: s

#1578 chore: wire automatic gzip decompression into DownloadSessionBuilder and channels
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GzipReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageByteChannels.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/AutoClosableFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GzipReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITDownloadToTest.java
Labels: api: storage, size: l

#1586 chore: update TransportCompatibility annotations for hmac operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
Labels: api: storage, size: xs

#1585 test: add first two low level tests for grpc upload
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteSizeConstants.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ChunkSegmenter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Hasher.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ChunkSegmenterTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TransportCompatibilityTest.java
Labels: api: storage, size: l

#1579 test: ITStorageTest refactor part 2 Bucket operations
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBatchTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNotificationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: xl

#1592 chore: update WriteFlushStrategy to inject bucket id
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteCtx.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/WriteFlushStrategyTest.java
Labels: api: storage, size: m

#1595 test: add retries to flaky sample tests
  README.md
  samples/snippets/src/test/java/com/example/storage/ITHmacSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
  samples/snippets/src/test/java/com/example/storage/bucket/DeleteBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/ListPubSubNotificationsTest.java
  samples/snippets/src/test/java/com/example/storage/object/RemoveFileOwnerTest.java
Labels: api: storage, automerge, samples, size: s

#1588 test: add grpc integration tests for simplistic object read/write
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, size: m

#1589 chore: update retry compatibility to work via StorageException
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BackwardCompatibilityUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResultRetryAlgorithmCompatibilityTest.java
Labels: api: storage, size: m

#1590 fix: update StorageSettings configuration to allow ReadObject streams to use idleTimeout rather than totalTimeout
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicReadTimeoutTest.java
Labels: api: storage, size: l

#1597 test: add new classes to SerializationTest
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITStorageLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
Labels: api: storage, size: l
