Repository googleapis/java-storage, pull requests merged in 2022-05, with the labels that each got.

#1344 chore(grpc): refactor model to/from Pb methods to be abstracted by Codec
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Acl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobId.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Conversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/CopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Cors.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HmacKey.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Notification.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/NotificationInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableMedia.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ServiceAccount.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageBatch.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/AclTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobIdTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobInfoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/CopyWriterTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/NotificationInfoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/NotificationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ServiceAccountTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageBatchTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplMockitoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplTest.java
Labels: api: storage, size: xl

#1379 chore(test): update ITStorageTest to explicitly shutdown the grpc channel for KMS
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: s

#1380 chore: add Crc32cValue type
  google-cloud-storage/src/main/java/com/google/cloud/storage/Crc32cValue.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/Crc32cValueTest.java
Labels: api: storage, size: m

#1385 feat: bucket metadata
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/JqwikTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
  google-cloud-storage/src/test/resources/META-INF/services/net.jqwik.api.providers.ArbitraryProvider
Labels: api: storage, size: l

#1388 feat: migrate model classes to use java.time instead of Long
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Conversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DateTimeCodecPropertyTest.java
Labels: api: storage, size: l

#1384 feat: add skeleton implementation of GrpcStorageImpl#getServiceAccount
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ServiceAccountPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ServiceAccountArbitraryProvider.java
  google-cloud-storage/src/test/resources/META-INF/services/net.jqwik.api.providers.ArbitraryProvider
Labels: api: storage, size: m

#1395 test: introduce BaseConvertablePropertyTest
  google-cloud-storage/src/test/java/com/google/cloud/storage/BaseConvertablePropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ServiceAccountPropertyTest.java
Labels: api: storage, size: m

#1392 feat: DeleteHmacKey and HmacKeyMetadata GRPC
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/HmacKeyMetadataPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/HmacKeyMetadataArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
  google-cloud-storage/src/test/resources/META-INF/services/net.jqwik.api.providers.ArbitraryProvider
Labels: api: storage, size: m

#1401 test: update ITStorageTest#testHmacKey to be courteous
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: m

#1394 feat: refactor model classes to prefer to java.time types
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HmacKey.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DateTimeCodecPropertyTest.java
Labels: api: storage, size: l

#1417 build: include service account info in native image JDK 17 test script
  .kokoro/presubmit/graalvm-native-17.cfg
  owlbot.py
Labels: api: storage, size: xs
