Repository googleapis/java-storage, pull requests merged in 2022-07, with the labels that each got.

#1484 feat: implement GrpcStorageImpl#update(BlobInfo): Blob
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: s

#1476 docs(sample): upgrade maven-surefire and remove junit-platform-native
  samples/native-image-sample/pom.xml
Labels: api: storage, samples, size: s

#1475 chore: mark native image checks as required
  .github/sync-repo-settings.yaml
Labels: api: storage, size: xs

#1505 chore: introduce ZOpt
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ZOpt.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ZOptTest.java
Labels: api: storage, size: l

#1498 feat: implement GrpcStorageImpl#compose(ComposeRequest): Blob
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
Labels: api: storage, size: s

#1507 chore: update GrpcStorageImpl#compose to use ZOpt
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: s

#1509 WIP chore: Property test robustness improvements
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BaseConvertablePropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/JqwikTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/HmacKeyMetadataArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ServiceAccountArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1510 test: update testbench to support grpc endpoint
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestBench.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, automerge, size: m

#1516 docs: Refactor Custom Dual Region sample to work with API changes
  samples/snippets/src/main/java/com/example/storage/bucket/CreateBucketDualRegion.java
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketDualRegionTest.java
Labels: api: storage, samples, size: s

#1513 test: introduce BaseConvertablePropertyTest#codecCompatibilityRoundTrip
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BaseConvertablePropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobInfoPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/HmacKeyMetadataPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ServiceAccountPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1521 test: add BucketFixture
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITDownloadToTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, size: m

#1523 test: update grpc bucket format
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, size: xs
