Repository googleapis/java-storage, pull requests merged in 2022-09, with the labels that each got.

#1594 test: ITStorage converted to ITObjectTest
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITDownloadBlobWithoutAuth.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITHmacTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITServiceAccountTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITWriteChannelConnectionPoolTest.java
Labels: api: storage, size: xl

#1602 feat: Add toString method for CustomPlacementConfig
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
Labels: api: storage, size: xs

#1601 fix: Use ProjectNameCodec to properly format projectId in getServiceA…
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITServiceAccountTest.java
Labels: api: storage, size: s

#1593 feat: implement GrpcStorageImpl#copy
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/CopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/CopyWriterTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UnifiedOptsGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, size: l

#1604 chore: wire etags and acls through GrpcConversions
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/HmacKeyMetadataArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1605 chore: remove DeleteRule handling in GrpcConversions
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
Labels: api: storage, size: m

#1610 test: increase coverage and edge case generation for GrpcConversions
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: m

#1607 test: Adding GRPC to ITDownloadTo and ITHmacTests
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITDownloadToTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITHmacTest.java
Labels: api: storage, size: m

#1614 fix: Fix bugs discovered by ITBucketLifecycleTest
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleTest.java
Labels: api: storage, size: m

#1615 feat: add constructor parameter for JsonFactory to HttpStorageRpc
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITCustomJsonFactoryTest.java
Labels: api: storage, size: m

#1618 feat: implement GrpcStorageImpl#lockRetentionPolicy
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, size: m

#1606 test: add property tests for BlobId
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobIdPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1624 test: add retrys of acl tests that often see 429s
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
Labels: api: storage, size: s

#1631 build(fix): update maven config for dependency enforcement of google-http-client-gson
  google-cloud-storage/pom.xml
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicReadTimeoutTest.java
Labels: api: storage, automerge, size: s

#1632 test: ITBucket test and minor bug fixes
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
Labels: api: storage, size: l

#1619 feat: implement GrpcStorageImpl#*Iam* methods
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/PolicyHelper.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PolicyHelperTest.java
Labels: api: storage, size: l

#1629 chore: update @TransportCompatibility annotation for newly implemented operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
Labels: api: storage, size: s

#1630 chore: cleanup outstanding use of todo() method
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
Labels: api: storage, size: m

#1637 chore: update handling of BlobInfo and BucketInfo to track which fields are modified
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UpdateMaskTest.java
Labels: api: storage, size: l

#1622 feat: implement automatic retry for resumable uploads
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcTransformPageDecoratorTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/WriteFlushStrategyTest.java
Labels: api: storage, size: l

#1647 test: add tests for UnifiedOpts.DetectContentType to verify for some common extensions
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DetectContentTypeTest.java
Labels: api: storage, size: m

#1600 docs: Add preconditions to some samples
  samples/snippets/src/main/java/com/example/storage/object/ChangeObjectCsekToKms.java
  samples/snippets/src/main/java/com/example/storage/object/ChangeObjectStorageClass.java
  samples/snippets/src/main/java/com/example/storage/object/ComposeObject.java
  samples/snippets/src/main/java/com/example/storage/object/CopyObject.java
  samples/snippets/src/main/java/com/example/storage/object/CopyOldVersionOfObject.java
  samples/snippets/src/main/java/com/example/storage/object/DeleteObject.java
  samples/snippets/src/main/java/com/example/storage/object/MoveObject.java
  samples/snippets/src/main/java/com/example/storage/object/RotateObjectEncryptionKey.java
  samples/snippets/src/main/java/com/example/storage/object/UploadEncryptedObject.java
  samples/snippets/src/main/java/com/example/storage/object/UploadKmsEncryptedObject.java
Labels: api: storage, samples, size: m

#1642 test: ITObjectTest and bug fixes
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: l

#1646 test: Stub tests for GRPC integration
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNotificationTest.java
Labels: api: storage, automerge, size: l

#1650 chore: setting up 2.6.x branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#1676 fix: update GrpcBlobWriteChannel to share compatible behavior with BlobWriteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/Buffers.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: s

#1644 chore: wire automatic retries into direct uploads for GrpcStorageImpl
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteSizeConstants.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcStorageImplUploadRetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcTransformPageDecoratorTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
Labels: api: storage, size: l

#1675 feat: wire through read_mask for GrpcStorageImpl methods related to Blob and Bucket
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Conversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/TransportCompatibility.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplMockitoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/RequestAuditing.java
Labels: api: storage, automerge, size: xl

#1645 chore: wire automatic retries into usages of StartResumableUpload
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcStorageImplUploadRetryTest.java
Labels: api: storage, size: m
