Repository googleapis/java-storage, pull requests merged in 2022-06, with the labels that each got.

#1422 feat: make Storage extend AutoClosable
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: m

#1431 feat: BucketInfo conversion for gRPC
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DateTimeCodecPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1389 feat: Prefix/Suffix Matches Lifecycle Condition
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
Labels: api: storage, size: m

#1434 fix: update request method of HttpStorageRpc to properly configure offset on requests
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultRetryHandlingBehaviorTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestRetryConformance.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITDownloadToTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage, size: l

#1440 test: add property testing to Crc32cCombineGoogle
  google-cloud-storage/src/test/java/com/google/cloud/storage/Crc32cUtilityPropertyTest.java
Labels: api: storage, size: s

#1435 feat: Bucket metadata grpc
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1452 test: add property test for DefaultBufferedReadableByteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedReadableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedReadableByteChannelTest.java
Labels: api: storage, size: l

#1439 feat: TransformPageDecorator
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcTransformPageDecoratorTest.java
Labels: api: storage, size: l

#1454 feat: support formatted bucket name with projectID
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: m

#1456 feat: add gRPC create bucket
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: s

#1461 chore: add TransportCompatibility annotations
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/TransportCompatibility.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TransportCompatibilityTest.java
Labels: api: storage, size: l

#1462 chore(test): reduce console output when running on GitHub
  google-cloud-storage/src/test/java/com/google/cloud/storage/BaseConvertablePropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/CIUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/GracefulConformanceEnforcement.java
Labels: api: storage, size: m

#1458 test: add property test for DefaultBufferedWritableByteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedWritableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedWritableByteChannelTest.java
Labels: api: storage, size: l

#1467 chore: refactor Buffered Channels such that buffer allocation is now lazy
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferHandle.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicResumableUploadSessionBuilder.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BufferHandleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedWritableByteChannelTest.java
Labels: api: storage, size: l

#1472 chore: make GapicUnbufferedReadableByteChannel lazily open the server stream
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
Labels: api: storage, size: m

#1474 chore: refactor GrpcStorageImpl#read* methods to use more specific channels
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Hasher.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageV2ProtoUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageV2ProtoUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l

#1481 chore: wire through X-Goog-User-Project header for grpc calls
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: m

#1479 chore: refactor GrpcStorageImpl#create* methods to use more specific channels
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferHandle.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Buffers.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Crc32cValue.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicResumableUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableMedia.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageByteChannels.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteCtx.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BuffersTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUploadSessionBuilderSyntaxTest.java
Labels: api: storage, size: xl

#1482 chore: minor annotation and javadoc cleanup
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
Labels: api: storage, size: s
