Repository googleapis/java-storage, pull requests merged in 2022-10, with the labels that each got.

#1681 chore: fix native-image.properties to allow running jqwik tests
  google-cloud-storage/pom.xml
  google-cloud-storage/src/test/java/com/google/cloud/storage/ShimClientTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNotificationTest.java
  google-cloud-storage/src/test/resources/META-INF/native-image/com/google/cloud/storage/native-image.properties
Labels: api: storage, size: s

#1686 chore: replicate https://github.com/googleapis/synthtool/pull/1594
  renovate.json
Labels: api: storage, automerge, size: xs

#1693 test: skip field selection on ITReadMaskTest while backend fix for null etags are still rolling out
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITReadMaskTest.java
Labels: api: storage, size: s

#1694 fix: update codec handling for Bucket Retention Period
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
Labels: api: storage, size: s

#1689 test: enable grpc config for ITBlobReadChannelTest
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageV2ProtoUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GzipReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageV2ProtoUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
Labels: kokoro:force-run, api: storage, size: m

#1688 feat: add GrpcStorageOptions.Builder#setAttemptDirectPath
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, size: m

#1696 fix: update Object Write handling to be able to specify an explicit crc32c value
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Hasher.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BackwardCompatibilityUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: m

#1677 test: Enable GRPC for ITKmsTest
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
Labels: api: storage, size: m

#1699 test: enable gRPC config for ITAccessTest
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/IamPolicyPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/TemporaryBucket.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/IamPolicyArbitraryProvider.java
  google-cloud-storage/src/test/resources/META-INF/services/net.jqwik.api.providers.ArbitraryProvider
Labels: api: storage, size: l

#1702 chore: patch Dual Region Tests to work with service changes
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketDualRegionTest.java
Labels: api: storage, size: xs

#1700 deps: regenerating with new Protobuf (2.6.x)
  README.md
  pom.xml
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/Bucket.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/BucketAccessControl.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ChecksummedData.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CommonObjectRequestParams.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CommonRequestParams.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ComposeObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ContentRange.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CreateBucketRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CreateHmacKeyRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CreateHmacKeyResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CreateNotificationRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/CustomerEncryption.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/DeleteBucketRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/DeleteHmacKeyRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/DeleteNotificationRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/DeleteObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/GetBucketRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/GetHmacKeyRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/GetNotificationRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/GetObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/GetServiceAccountRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/HmacKeyMetadata.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListBucketsRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListBucketsResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListHmacKeysRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListHmacKeysResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListNotificationsRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListNotificationsResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListObjectsRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ListObjectsResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/LockBucketRetentionPolicyRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/Notification.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/Object.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ObjectAccessControl.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ObjectChecksums.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/Owner.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ProjectTeam.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/QueryWriteStatusRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/QueryWriteStatusResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ReadObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ReadObjectResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/RewriteObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/RewriteResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ServiceAccount.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/ServiceConstants.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/StartResumableWriteRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/StartResumableWriteResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/UpdateBucketRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/UpdateHmacKeyRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/UpdateObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/WriteObjectRequest.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/WriteObjectResponse.java
  proto-google-cloud-storage-v2/src/main/java/com/google/storage/v2/WriteObjectSpec.java
Labels: api: storage, automerge, size: xl

#1704 chore: update javadocs, TransportCompatibility and serialVersionUID values ahead of merge to main
  google-cloud-storage/src/main/java/com/google/cloud/storage/Acl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobId.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Cors.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultStorageRetryStrategy.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HmacKey.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpMethod.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/NotificationInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Option.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Rpo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ServiceAccount.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageClass.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UniformStorageRetryStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
Labels: api: storage, size: l

#1717 fix: update BucketInfo.LifecycleRule#fromPb to wire through MatchesPrefix & MatchesSuffix
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
Labels: api: storage, size: xs

#1719 chore: update GrpcBlobReadChannel to configure lazy buffer allocation
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
Labels: api: storage, size: s

#1724 test: add tests to cover the MatchesPrefix and MatchesSuffix in LifeCyleRules
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
Labels: api: storage, size: s

#1713 chore: refactor and cleanup translation between gRPC status codes and http codes
  google-cloud-storage/src/main/java/com/google/cloud/storage/BackwardCompatibilityUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcToHttpStatusCodeTranslation.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BackwardCompatibilityUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GrpcToHttpStatusCodeTranslationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResultRetryAlgorithmCompatibilityTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageExceptionGrpcCompatibilityTest.java
Labels: api: storage, size: l

#1729 fix: update BucketInfo.LifecycleRule.LifecycleCondition equals and hashCode to include match prefix and suffix
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleRulesTest.java
Labels: api: storage, size: m

#1733 fix: properly implement GrpcBlobReadChannel#isOpen
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITReadMaskTest.java
Labels: api: storage, size: s

#1734 feat: update retries for Notifications
  README.md
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/CtxFunctions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/State.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestRetryConformance.java
  renovate.json
Labels: api: storage, size: l

#1718 samples: adding preconditions to some of the samples
  samples/snippets/src/main/java/com/example/storage/object/ReleaseEventBasedHold.java
  samples/snippets/src/main/java/com/example/storage/object/ReleaseTemporaryHold.java
  samples/snippets/src/main/java/com/example/storage/object/SetEventBasedHold.java
  samples/snippets/src/main/java/com/example/storage/object/SetObjectMetadata.java
  samples/snippets/src/main/java/com/example/storage/object/SetTemporaryHold.java
  samples/snippets/src/main/java/com/example/storage/object/UploadObject.java
Labels: api: storage, samples, size: m
