Repository googleapis/java-storage, pull requests merged in 2022-12, with the labels that each got.

#1802 feat: implement GrpcStorageImpl#getDefaultAcl
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageV2ProtoUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageV2ProtoUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketReadMaskTest.java
Labels: api: storage, owlbot:ignore, size: m

#1808 chore(test): TestBench cleanup post StorageITRunner
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITStorageLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RetryTestFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Registry.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
Labels: api: storage, size: m

#1805 feat: implement GrpcStorageImpl#listDefaultAcl
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
Labels: api: storage, owlbot:ignore, size: m

#1813 test: fix bucket cleanup logic
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/StorageInstance.java
Labels: api: storage, size: m

#1807 feat: implement GrpcStorageImpl#deleteDefaultAcl
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
Labels: api: storage, size: m

#1816 feat: implement GrpcStorageImpl BucketAccessControl operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageV2ProtoUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketAclTest.java
Labels: api: storage, owlbot:ignore, size: l

#1818 feat: implement GrpcStorageImpl ObjectAccessControl operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectAclTest.java
Labels: api: storage, owlbot:ignore, size: l

#1815 fix: update Grpc Write implementation to allow specifying expected md5
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Hasher.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectChecksumSupportTest.java
Labels: api: storage, automerge, owlbot:ignore, size: m

#1753 fix: add missing preconditions and update samples
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  samples/snippets/src/main/java/com/example/storage/object/ComposeObject.java
  samples/snippets/src/main/java/com/example/storage/object/CopyObject.java
  samples/snippets/src/main/java/com/example/storage/object/CopyOldVersionOfObject.java
  samples/snippets/src/main/java/com/example/storage/object/MoveObject.java
  samples/snippets/src/main/java/com/example/storage/object/UploadEncryptedObject.java
  samples/snippets/src/main/java/com/example/storage/object/UploadKmsEncryptedObject.java
  samples/snippets/src/main/java/com/example/storage/object/UploadObject.java
Labels: api: storage, samples, size: m

#1819 chore(test): expand StorageInstance vetoing to apply to bucket acl operations
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/AbstractStorageProxy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/StorageInstance.java
Labels: api: storage, size: l

#1822 fix(grpc): fix bucket logging conversion to allow clearing
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: m

#1821 test: update StorageITRunner behavior along with @ClassRule
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/StorageITRunner.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/annotations/CrossRun.java
Labels: api: storage, size: s

#1823 test: introduce KmsFixture
  google-cloud-storage/pom.xml
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/KmsFixture.java
  renovate.json
Labels: api: storage, size: l

#1825 chore: add retries to first page request for ListBucket and ListHmacKey in GrpcStorageImpl
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: s

#1826 test: add new Generator#randomObjectName
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelV2RetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleRulesTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectAclTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectChecksumSupportTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Generator.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Registry.java
Labels: api: storage, size: l

#1828 test: cleanup/re-enable some ignored tests
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
Labels: api: storage, size: s
