Repository googleapis/java-storage, pull requests merged in 2022-02, with the labels that each got.

#1239 test: skip testHmacKey test
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage

#1238 chore: enable cherry-pick-bot
  .github/cherry-pick-bot.yml
Labels: api: storage, automerge

#1248 fix: cherry pick IAM condition validation PR #1177
  google-cloud-storage/src/main/java/com/google/cloud/storage/PolicyHelper.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PolicyHelperTest.java
Labels: api: storage

#1247 fix: cherry pick PR#1160
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
Labels: api: storage

#1252 test: re-enable testHmacKey test
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage

#1253 Revert "test: skip testHmacKey test (#1239)"
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageTest.java
Labels: api: storage

#1254 fix: cherry pick #1160
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BucketInfoTest.java
Labels: api: storage

#1255 fix: cherry-pick #1177
  google-cloud-storage/src/main/java/com/google/cloud/storage/PolicyHelper.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PolicyHelperTest.java
Labels: api: storage

#1236 feat: Adding Samples for Printing Bucket ACLs and Printing Bucket ACL for a specific user.
  .kokoro/presubmit/samples.cfg
  README.md
  owlbot.py
  samples/snippets/src/main/java/com/example/storage/bucket/PrintBucketAcl.java
  samples/snippets/src/main/java/com/example/storage/bucket/PrintBucketAclFilterByUser.java
  samples/snippets/src/test/java/com/example/storage/TestBase.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintBucketAclFilterByUserTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintBucketAclTest.java
Labels: api: storage, samples

#1260 docs: Adding Samples for Add/Remove Bucket Default Owner
  README.md
  samples/snippets/src/main/java/com/example/storage/bucket/AddBucketDefaultOwner.java
  samples/snippets/src/main/java/com/example/storage/bucket/RemoveBucketDefaultOwner.java
  samples/snippets/src/test/java/com/example/storage/TestBase.java
  samples/snippets/src/test/java/com/example/storage/bucket/AddBucketDefaultOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/RemoveBucketDefaultOwnerTest.java
Labels: api: storage, samples

#1270 test: Add IT_SERVICE_ACCOUNT_EMAIL to nightly config
  .kokoro/nightly/samples.cfg
  owlbot.py
Labels: api: storage
