Repository googleapis/java-storage, pull requests merged in 2023-05, with the labels that each got.

#2007 chore(deps): include io.grpc:grpc-rls for regional endpoint testing
  google-cloud-storage/pom.xml
Labels: api: storage, owlbot:ignore, size: s

#2009 chore(deps): update ghcr.io/graalvm/graalvm-ce docker tag to v22.3.2
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
Labels: api: storage, size: xs

#2012 chore: enable attempt xds if attemptDirectPath is true
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, owlbot:ignore, size: xs

#2022 fix: make GrpcBlobWriteChannel open upon construction
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITWriteChannelTest.java
Labels: api: storage, automerge, owlbot:ignore, size: m

#2026 fix: add retries for auth service errors which are tagged Retryable
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultStorageRetryStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultRetryHandlingBehaviorTest.java
Labels: api: storage, owlbot:ignore, size: m

#2028 feat: Error Handling and Transfer Status assignment FAILED_TO_START
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferStatus.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, automerge, size: s
