Repository googleapis/java-storage, pull requests merged in 2023-04, with the labels that each got.

#1958 feat: implement GrpcStorageImpl#{get,list,create,delete}Notification
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Notification.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/NotificationInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/NotificationInfoPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNotificationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/NotificationArbitraryProvider.java
  google-cloud-storage/src/test/resources/META-INF/services/net.jqwik.api.providers.ArbitraryProvider
Labels: api: storage, owlbot:ignore, size: l

#1929 feat: Handle generation numbers in BlobId#{to,from}GsUtilUri
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobId.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobIdTest.java
Labels: api: storage, size: s

#1965 feat: Add matchGlob parameter to BlobListOption
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplMockitoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, owlbot:ignore, size: m

#1964 fix: Review session updates
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: l

#1975 feat: Change Prefix to Download Directory
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
Labels: api: storage, automerge, size: m

#1977 fix: update GrpcStorageOptions to set allowNonDefaultServiceAccount = true
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, size: xs

#1974 feat: make it possible to disable the buffer of ReadChannels returned from Storage.reader
  google-cloud-storage/src/main/java/com/google/cloud/storage/BaseStorageReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannelV2.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/LazyReadChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/LazyReadChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageReadChannelTest.java
Labels: api: storage, size: m

#1987 chore: move tests which use FakeServer to be Integration Tests
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicReadTimeoutTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcStorageImplUploadRetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGzipReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITUpdateMaskTest.java
Labels: api: storage, owlbot:ignore, size: s

#1998 fix: introduce new BlobId#toGsUtilUriWithGeneration
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobId.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobIdTest.java
Labels: api: storage, owlbot:ignore, size: s
