Repository googleapis/java-storage, pull requests merged in 2023-07, with the labels that each got.

#2104 chore: add gcloud-tm/ entry to useragent for TransferManager
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
Labels: api: storage, owlbot:ignore, size: s

#2105 feat: Initial Preview of Transfer Manager
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ChunkedDownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DefaultQos.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DirectDownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadSegment.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/Qos.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferStatus.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/transfermanager/TransferManagerConfigTestingInstances.java
Labels: api: storage, owlbot:ignore, size: xl

#2107 fix: update grpc upload logic to follow hashing behavior of json
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcStorageImplUploadRetryTest.java
Labels: api: storage, owlbot:ignore, size: s

#2059 feat: update Storage.createFrom(BlobInfo, Path) to have 150% higher throughput
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteRangeSpec.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteSizeConstants.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpClientContext.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpContentRange.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionFailureScenario.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionQueryTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableOperationResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableHttpContent.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeHttpServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionPutTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionQueryTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/JsonResumableSessionFailureScenarioTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RewindableHttpContentPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplMockitoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/Functions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectChecksumSupportTest.java
Labels: api: storage, owlbot:ignore, size: xl

#2110 feat: BlobWriteChannelV2 - same throughput less GC
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BaseStorageWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannelV2.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannelV2.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Buffers.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Conversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpContentRange.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/LazyWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableMedia.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableHttpContent.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnbufferedWritableByteChannelSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionPutTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/JsonResumableSessionFailureScenarioTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RewindableByteBufferContentTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RewindableHttpContentPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageImplMockitoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TmpFile.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/TemporaryBucket.java
  google-cloud-storage/src/test/resources/com/google/cloud/storage/blobReadChannel.ser.properties
  google-cloud-storage/src/test/resources/com/google/cloud/storage/blobWriteChannel.ser.properties
Labels: api: storage, owlbot:ignore, size: xl

#2119 chore: cleanup branch protection rules from feat/transfer-manager
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#2112 fix: update GrpcStorageImpl.createFrom(BlobInfo, Path) to use RewindableContent
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteSizeConstants.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableContent.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeHttpServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcStorageImplUploadRetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionPutTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RewindableByteBufferContentTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RewindableContentPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectChecksumSupportTest.java
Labels: api: storage, owlbot:ignore, size: l

#2125 fix: update BlobWriteChannelV2 to properly carry forward offset after incremental flush
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannelV2.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
Labels: api: storage, size: m

#2126 docs: fix broken link for TESTING.md
  TESTING.md
  google-cloud-storage/src/main/java/com/google/cloud/storage/testing/package-info.java
Labels: api: storage, owlbot:ignore, size: s

#2123 feat: introduce new BlobWriteSession
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/CrossTransportUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TransportCompatibilityTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/AbstractStorageProxy.java
Labels: api: storage, owlbot:ignore, size: l

#2142 fix(grpc): return error if credentials are detected to be null
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, owlbot:ignore, size: xs

#2149 chore: remove manual grpc version management
  pom.xml
Labels: api: storage, owlbot:ignore, size: xs

#2147 chore: update BlobWriteSessionConfig to implement Serializable
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
Labels: api: storage, owlbot:ignore, size: xs

#2146 fix: optimize resumable uploads to allow sending bytes during finalization
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultStorageRetryStrategy.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageByteChannels.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnbufferedWritableByteChannelSession.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
Labels: api: storage, owlbot:ignore, size: l

#2138 chore: introduce Throughput and ThroughputSink
  google-cloud-storage/src/main/java/com/google/cloud/storage/Throughput.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ThroughputMovingWindow.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ThroughputSink.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestClock.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ThroughputMovingWindowPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ThroughputSinkTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ThroughputTest.java
Labels: api: storage, owlbot:ignore, size: xl

#2139 feat: implement BufferToDiskThenUpload BlobWriteSessionConfig
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferToDiskThenUpload.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RecoveryFile.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RecoveryFileManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ThroughputSink.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BufferToDiskThenUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RecoveryFileManagerTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionTest.java
Labels: api: storage, owlbot:ignore, size: l
