Repository googleapis/java-storage, pull requests merged in 2023-02, with the labels that each got.

#1875 feat: add Storage.BlobWriteOption.{meta,}generation{Not,}Match(long) methods to allow literal value construction
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  samples/snippets/src/main/java/com/example/storage/object/UploadObject.java
Labels: api: storage, owlbot:ignore, size: s

#1874 feat: Initial Classes and Interface for Transfer Manager
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferStatus.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
Labels: api: storage, size: l

#1876 test: update ObjectsFixture to allow discrimination by @BucketFixture
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/ObjectsFixture.java
Labels: api: storage, owlbot:ignore, size: m

#1883 chore: Add null check based of TransferStatus to Download/Upload Result
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
Labels: api: storage, size: s

#1877 fix: update GrpcStorageImpl handling to be aware of quotaProjectId
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TransportCompatibilityTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITQuotaProjectIdTest.java
Labels: api: storage, owlbot:ignore, size: l

#1895 chore: move TransferManagerConfig to own file and add Parallel{Upload,Download}Config to jobs
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
Labels: api: storage, size: l

#1905 chore: add feat/breaking-preview branch protection
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#1903 chore: remove cumulative crc32c check on GapicUnbufferedReadableByteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannelTest.java
Labels: api: storage, size: m

#1900 fix: update Default RetryStrategy to retry SSLException caused by SocketException
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultStorageRetryStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultRetryHandlingBehaviorTest.java
Labels: api: storage, owlbot:ignore, size: s

#1899 chore: misc test cleanup
  google-cloud-storage/src/test/java/com/google/cloud/storage/DataGeneration.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
Labels: api: storage, owlbot:ignore, size: m

#1872 test: add new StorageNativeCanaryTest
  google-cloud-storage/pom.xml
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/StorageNativeCanary.java
  google-cloud-storage/src/test/resources/META-INF/native-image/com/google/cloud/storage/native-image.properties
  google-cloud-storage/src/test/resources/META-INF/native-image/com/google/cloud/storage/reflect-config.json
Labels: api: storage, owlbot:ignore, size: m

#1917 chore: ignore Update related gRPC tests which are failing due to b/270215524
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleRulesTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNestedUpdateMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, owlbot:ignore, size: s
