Repository googleapis/java-storage, pull requests merged in 2023-03, with the labels that each got.

#1916 feat: allow specifying a negative offset to ReadChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/BaseStorageReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteRangeSpec.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageReadChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ByteRangeSpecTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
Labels: api: storage, owlbot:ignore, size: s

#1939 docs: add clarification on non-editable metadata
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
Labels: api: storage, size: s

#1942 Revert "chore: ignore Update related gRPC tests which are failing due to b/270215524"
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITAccessTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleRulesTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNestedUpdateMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, automerge, size: s

#1945 feat: First pass downloadMany
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: m

#1912 fix: update bucket creation to set project as `bucket.project`
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/BucketArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, owlbot:ignore, size: s

#1950 feat: Apply BlobWriteOptions to UploadMany operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: s
