Repository googleapis/java-storage, pull requests merged in 2023-08, with the labels that each got.

#2150 fix: update grpc default metadata projection to include acl same as json
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITDefaultProjectionCompatibilityTest.java
Labels: api: storage, owlbot:ignore, size: m

#2153 fix: possible NPE when HttpStorageOptions deserialized
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
Labels: api: storage, owlbot:ignore, size: s

#2159 fix: make use of ImmutableMap.Builder#buildOrThrow graceful
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
Labels: api: storage, owlbot:ignore, size: s

#2163 fix: update gRPC writeAndClose to only set finish_write on the last message
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
Labels: api: storage, owlbot:ignore, size: m

#2168 fix: update User-Agent handling for resumable uploads
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITUserAgentTest.java
Labels: api: storage, owlbot:ignore, size: m

#2169 fix: update version resolution logic to be more resilient
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
Labels: api: storage, owlbot:ignore, size: s

#2179 test: update bucket name for gRPC quickstart
  samples/snippets/src/test/java/com/example/storage/QuickstartSampleIT.java
Labels: api: storage, size: xs

#2182 fix: a resumable session without a Range header should be interpreted as 0 length
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionFailureScenario.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionQueryTask.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionQueryTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/JsonResumableSessionFailureScenarioTest.java
Labels: api: storage, owlbot:ignore, size: s

#2184 feat: Follow-up CLI Improvements
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/StorageSharedBenchmarkingCli.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/W1R3.java
Labels: api: storage, automerge, size: m

#2185 chore(benchmarking): Fix formatting for custom metric ingestion
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/CloudMonitoringResult.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/W1R3.java
Labels: api: storage, size: m
