Repository googleapis/java-storage, pull requests merged in 2023-10, with the labels that each got.

#2238 chore: implement automatic cleanup on failure in ParallelCompositeUploadWritableByteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannelTest.java
Labels: api: storage, owlbot:ignore, size: m

#2239 feat: add @BetaApi BlobWriteSession#parallelCompositeUpload
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: l

#2240 chore: ensure ParallelCompositeUploadBlobWriteSessionConfig is serializable
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
Labels: api: storage, owlbot:ignore, size: m

#2242 docs: reorder columns in table of BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
Labels: api: storage, owlbot:ignore, size: m

#2247 build: delete obsolete kokoro files
  .kokoro/continuous/propose_release.sh
  .kokoro/readme.sh
Labels: api: storage, size: m

#2245 chore: make ParallelCompositeUploadException public
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
Labels: api: storage, owlbot:ignore, size: s

#2244 chore: rename BufferStrategy to BufferAllocationStrategy
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: m

#2246 test: ensure Storage instances are closed in ITStorageLifecycleTest
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITStorageLifecycleTest.java
Labels: api: storage, owlbot:ignore, size: s

#2263 fix: remove PCU internals which should be hidden
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
Labels: api: storage, automerge, owlbot:ignore, size: s

#2258 feat: add Autoclass v2.1 support
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
Labels: api: storage, owlbot:ignore, size: m

#2259 chore(samples): update Autoclass Sample for v2.1 features
  samples/snippets/src/main/java/com/example/storage/bucket/GetBucketAutoclass.java
  samples/snippets/src/main/java/com/example/storage/bucket/SetBucketAutoclass.java
  samples/snippets/src/test/java/com/example/storage/bucket/AutoclassTest.java
Labels: api: storage, samples, owlbot:ignore, size: m

#2282 chore: update ghcr.io/graalvm/graalvm-ce docker tag to v22.3.3
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
Labels: api: storage, size: xs
