Repository googleapis/java-storage, pull requests merged in 2023-06, with the labels that each got.

#2043 feat: Error handling for Downloads
  google-cloud-storage/src/main/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DirectDownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: m

#2055 fix: validateBlob failure fallsback to direct download
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: s

#2064 feat: Resolve API futures on getDownload/UploadResults calls
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: m

#2066 test: Success and failure combined tests
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: m

#2063 feat: add new dedupe utility method to Option classes
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Option.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/DedupeOptionTest.java
Labels: api: storage, owlbot:ignore, size: l

#2067 chore: Add BetaApi Annotation to public classes and methods
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferStatus.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
Labels: api: storage, automerge, size: m

#2027 chore: add new request idempotency header x-goog-gcs-idempotency-token
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Retrying.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/WriteFlushStrategyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcRequestAuditing.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcIdempotencyTokenTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITHttpIdempotencyTokenTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/RequestAuditing.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Generator.java
Labels: api: storage, owlbot:ignore, size: l

#2046 chore: attempt to make TestBench docker image renovateable
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/SneakyException.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
  google-cloud-storage/src/test/resources/com/google/cloud/storage/it/runner/registry/Dockerfile
Labels: api: storage, owlbot:ignore, size: m

#2082 chore: create 2.22.x branch
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#2072 deps: update dependencies io.grpc:* to v1.56.0
  pom.xml
Labels: api: storage, owlbot:ignore, size: s

#2078 feat: Add validation around bytes received vs bytes expected
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ChunkedDownloadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DirectDownloadCallable.java
Labels: api: storage, size: s

#2041 docs(samples): add storage_grpc_quickstart samples
  README.md
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  samples/snippets/src/main/java/com/example/storage/QuickstartGrpcDpSample.java
  samples/snippets/src/main/java/com/example/storage/QuickstartGrpcSample.java
  samples/snippets/src/test/java/com/example/storage/QuickstartSampleIT.java
Labels: api: storage, automerge, samples, size: m

#2086 fix: update UploadCallable to use createFrom to avoid NPE trying to resolve resulting object
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadCallable.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: m

#2071 test(samples): update ITBucketSnippets to apply retries to update result assertions
  samples/snippets/src/main/java/com/example/storage/bucket/DisableDefaultEventBasedHold.java
  samples/snippets/src/main/java/com/example/storage/bucket/DisableLifecycleManagement.java
  samples/snippets/src/main/java/com/example/storage/bucket/DisableUniformBucketLevelAccess.java
  samples/snippets/src/main/java/com/example/storage/bucket/EnableDefaultEventBasedHold.java
  samples/snippets/src/main/java/com/example/storage/bucket/EnableUniformBucketLevelAccess.java
  samples/snippets/src/main/java/com/example/storage/bucket/RemoveBucketDefaultKmsKey.java
  samples/snippets/src/main/java/com/example/storage/bucket/SetBucketDefaultKmsKey.java
  samples/snippets/src/main/java/com/example/storage/bucket/SetRetentionPolicy.java
  samples/snippets/src/test/java/com/example/storage/ITBucketSnippets.java
  samples/snippets/src/test/java/com/example/storage/TestUtils.java
  samples/snippets/src/test/java/com/example/storage/TestUtilsTest.java
Labels: api: storage, samples, owlbot:ignore, size: l

#2094 docs: Javadocs for TransferManager interface and ParallelUploadConfig
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
Labels: api: storage, size: m

#2097 docs: Javadocs for remainder of Transfer Manager
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferStatus.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
Labels: api: storage, size: l
