Repository googleapis/java-storage, pull requests merged in 2023-09, with the labels that each got.

#2204 chore: Remove SSB from modules list to stop it from trying to deploy
  pom.xml
Labels: api: storage, automerge, size: xs

#2211 chore(benchmarking): Fix throughput conversion issue and report metrics in seconds
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/StorageSharedBenchmarkingUtils.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/W1R3.java
Labels: api: storage, size: s

#2222 fix: consider Storage#delete(BlobId) idempotent when id has generation
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpRetryAlgorithmManager.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
Labels: api: storage, owlbot:ignore, size: s

#2226 chore: remove obsolete release job configs
  .kokoro/release/bump_snapshot.cfg
  .kokoro/release/bump_snapshot.sh
  .kokoro/release/common.cfg
  .kokoro/release/common.sh
  .kokoro/release/drop.cfg
  .kokoro/release/drop.sh
  .kokoro/release/promote.cfg
  .kokoro/release/promote.sh
  .kokoro/release/publish_javadoc.cfg
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/publish_javadoc11.cfg
  .kokoro/release/publish_javadoc11.sh
  .kokoro/release/snapshot.cfg
  .kokoro/release/snapshot.sh
  .kokoro/release/stage.cfg
  .kokoro/release/stage.sh
  .kokoro/requirements.in
  .kokoro/requirements.txt
  owlbot.py
Labels: api: storage, owlbot:ignore, size: xl

#2207 fix: update RecoveryFileManager to allow distinct files for multiple invocations of equivalent info
  google-cloud-storage/src/main/java/com/google/cloud/storage/RecoveryFileManager.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RecoveryFileManagerTest.java
Labels: api: storage, owlbot:ignore, size: m

#2195 test: add property based test ITSyncAndUploadUnbufferedWritableByteChannelPropertyTest
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITSyncAndUploadUnbufferedWritableByteChannelPropertyTest.java
Labels: api: storage, owlbot:ignore, size: l

#2206 chore: add AsyncAppendingQueue
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiFutureUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/AsyncAppendingQueue.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ApiFutureUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/AsyncAppendingQueueTest.java
Labels: api: storage, owlbot:ignore, size: l

#2217 chore: refactor ComposeRequest to use Opts
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/resources/com/google/cloud/storage/composeRequest.ser.properties
Labels: api: storage, owlbot:ignore, size: m

#2237 chore(benchmarking): Add a profile to build the SSB cli
  pom.xml
Labels: api: storage, size: xs

#2220 chore: add BufferHandlePool
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferHandlePool.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BufferHandlePoolTest.java
Labels: api: storage, owlbot:ignore, size: l

#2221 chore: add StorageInternal#{delete(BlobId),internalDirectUpload}
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableContent.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BufferToDiskThenUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: l

#2230 chore: add ParallelCompositeUploadWritableByteChannel
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobId.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Buffers.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Crc32cValue.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UnifiedOptsTest.java
Labels: api: storage, owlbot:ignore, size: xl
