Repository googleapis/java-storage, pull requests merged in 2024-08, with the labels that each got.

#2653 chore: modify readme's transport support description
  .repo-metadata.json
  README.md
  generation_config.yaml
Labels: api: storage, size: xs

#2636 chore: remove storage native image sample in favor of sample hosted in google-cloud-java
  samples/native-image-sample/README.md
  samples/native-image-sample/pom.xml
  samples/native-image-sample/src/main/java/com/example/storage/NativeImageStorageSample.java
  samples/native-image-sample/src/test/java/com/example/storage/NativeImageStorageSampleIT.java
  samples/pom.xml
Labels: api: storage, samples, size: l

#2660 chore: fix samples pom.xml issues
  samples/install-without-bom/pom.xml
  samples/snippets/pom.xml
Labels: api: storage, samples, owlbot:ignore, size: s

#2659 feat: enable grpc.lb.locality label for client-side metrics
  google-cloud-storage/src/main/java/com/google/cloud/storage/OpenTelemetryBootstrappingUtils.java
Labels: status: blocked, api: storage, size: xs

#2664 fix: update modified field handling for blob and bucket with json transport to properly clear fields
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITJsonPatchTest.java
Labels: api: storage, owlbot:ignore, size: l

#2683 test: disable grpc client side metrics for tests
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITStorageLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RetryTestFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcIdempotencyTokenTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageOptionsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
Labels: api: storage, owlbot:ignore, size: s

#2661 feat: allow specifying an expected object size for resumable operations.
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedChunkedResumableWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JournalingBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUploadSessionBuilderSyntaxTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITSyncAndUploadUnbufferedWritableByteChannelPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITUnbufferedResumableUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITResumableUploadTest.java
Labels: api: storage, owlbot:ignore, size: l

#2680 build: switch to using junit 5 bom
  google-cloud-storage/pom.xml
  pom.xml
Labels: api: storage, owlbot:ignore, size: s

#2691 fix: make ParallelCompositeUploadBlobWriteSessionConfig.ExecutorSupplier#cachedPool a singleton
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
Labels: api: storage, owlbot:ignore, size: xs

#2692 deps: promote storage-v2 artifacts to beta
  gapic-google-cloud-storage-v2/pom.xml
  google-cloud-storage-bom/pom.xml
  grpc-google-cloud-storage-v2/pom.xml
  pom.xml
  proto-google-cloud-storage-v2/pom.xml
  versions.txt
Labels: api: storage, size: s
