Repository googleapis/java-storage, pull requests merged in 2024-04, with the labels that each got.

#2481 fix: fix BidiBlobWriteSessionConfig to respect preconditions
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
Labels: api: storage, owlbot:ignore, size: m

#2486 chore(benchmarking): fix typo, bidi changed to bidi_enabled
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/StorageSharedBenchmarkingCli.java
Labels: api: storage, size: xs

#2485 docs: Add summary and reference docs for Storage Control API to readme
  .readme-partials.yaml
  README.md
Labels: api: storage, size: s

#2479 samples: Add StorageControl Quickstart Sample
  samples/install-without-bom/pom.xml
  samples/native-image-sample/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/storage/QuickstartStorageControlSample.java
  samples/snippets/src/test/java/com/example/storage/QuickstartSampleIT.java
Labels: api: storage, samples, owlbot:ignore, size: m

#2493 fix: update ApiaryUnbufferedWritableByteChannel to be graceful of non-quantum aligned write calls
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionFailureScenario.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionPutTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITUnbufferedResumableUploadTest.java
Labels: api: storage, owlbot:ignore, size: m

#2495 chore(samples): update UploadObjectFromMemory to include precondition
  samples/snippets/src/main/java/com/example/storage/object/UploadObjectFromMemory.java
Labels: api: storage, samples, owlbot:ignore, size: s

#2482 fix: ensure all BlobWriteSession types conform to the semantics specified in BlobWriteSession
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionCommonSemanticsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITJournalingBlobWriteSessionConfigTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: l

#2494 feat: Transfer Manager ParallelCompositeUploads
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DefaultQos.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelCompositeUploadCallable.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/Qos.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/transfermanager/TransferManagerConfigTestingInstances.java
Labels: api: storage, owlbot:ignore, size: l

#2492 docs: Create Samples for transfer manager
  samples/snippets/src/main/java/com/example/storage/transfermanager/DownloadBucket.java
  samples/snippets/src/main/java/com/example/storage/transfermanager/DownloadMany.java
  samples/snippets/src/main/java/com/example/storage/transfermanager/UploadDirectory.java
  samples/snippets/src/main/java/com/example/storage/transfermanager/UploadMany.java
  samples/snippets/src/test/java/com/example/storage/transfermanager/ITTransferManagerSamples.java
Labels: api: storage, owlbot:ignore, size: l

#2489 feat: Adds a ZeroCopy response marshaller for grpc ReadObject handling
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Hasher.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ReadCursor.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResponseContentLifecycleHandle.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResponseContentLifecycleManager.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGzipReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TransportCompatibilityTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ZeroCopyMarshallerTest.java
Labels: api: storage, owlbot:ignore, size: l

#2498 chore: include recommended_package in repo-metadata.json
  .repo-metadata.json
  README.md
Labels: api: storage, size: xs

#2309 fix: update Grpc Retry Conformance after new additions to testbench
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcStorageImplUploadRetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMapping.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestRetryConformance.java
Labels: api: storage, owlbot:ignore, size: l

#2499 fix: update grpc handling of IAM Policy etag to account for base64 encoding
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/CtxFunctions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
Labels: api: storage, owlbot:ignore, size: s

#2512 fix: update GzipReadableByteChannel to be tolerant of one byte reads
  google-cloud-storage/src/main/java/com/google/cloud/storage/GzipReadableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITReadChannelGzipHandlingTest.java
Labels: api: storage, owlbot:ignore, size: m

#2503 docs: Update readme to include gradle instructions for storage control
  .github/release-please.yml
  .readme-partials.yaml
  README.md
Labels: api: storage, size: m
