Repository googleapis/java-storage, pull requests merged in 2024-09, with the labels that each got.

#2695 chore: remove unused image tag in .OwlBot-hermetic.yaml
  .github/.OwlBot-hermetic.yaml
Labels: api: storage, size: xs

#2696 fix: close pending zero-copy responses when Storage#close is called
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResponseContentLifecycleManager.java
Labels: api: storage, owlbot:ignore, size: m

#2700 chore: attempt to drain the stream iterator
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, owlbot:ignore, size: s

#2663 fix: github workflow vulnerable to script injection
  .github/workflows/hermetic_library_generation.yaml
Labels: api: storage, size: s

#2702 chore: add @InternalExtensionOnly to BlobWriteSession
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSession.java
Labels: api: storage, owlbot:ignore, size: xs

#2705 chore: Add Clirr exemptions for Protobuf 4.27.4+ runtime
  proto-google-cloud-storage-control-v2/clirr-ignored-differences.xml
  proto-google-cloud-storage-v2/clirr-ignored-differences.xml
Labels: api: storage, automerge, size: m

#2699 feat: adds integration tests for Universe Domain configuration
  .kokoro/build.sh
  .kokoro/presubmit/integration.cfg
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITUniverseDomainTest.java
Labels: api: storage, size: m

#2708 fix: update grpc based ReadObject rpcs to remove race condition between cancellation and message handling
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicDownloadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcBlobReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGzipReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageReadChannelTest.java
Labels: api: storage, owlbot:ignore, size: l

#2715 fix: update GrpcStorageOptions to attempt direct path by default
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITStorageLifecycleTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RetryTestFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcIdempotencyTokenTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/StorageNativeCanary.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
Labels: api: storage, owlbot:ignore, size: s

#2717 fix: remove server unimplemented GrpcStorageImpl#{get,list,create,delete,Update}HmacKey
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/TestRetryConformance.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITHmacTest.java
Labels: api: storage, owlbot:ignore, size: m

#2718 fix: remove server unimplemented GrpcStorageImpl#getServiceAccount
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITServiceAccountTest.java
Labels: api: storage, owlbot:ignore, size: s

#2710 fix: remove server unimplemented GrpcStorageImpl#{get,list,create,delete}Notification
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Notification.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/NotificationInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/NotificationInfoPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNotificationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/NotificationArbitraryProvider.java
  google-cloud-storage/src/test/resources/META-INF/services/net.jqwik.api.providers.ArbitraryProvider
Labels: api: storage, owlbot:ignore, size: l

#2724 chore: release 2.38.x
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#2725 ci: configure the protected branch
  .github/workflows/ci.yaml
Labels: api: storage, size: m

#2732 fix: update grpc upload error diagnostics to be tolerant of receiving an error if no request has been sent
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiUnbufferedWritableByteChannel.java
Labels: api: storage, size: xs

#2734 build: update samples ci checkstyle build to use java 11
  .github/workflows/samples.yaml
Labels: api: storage, samples, size: xs

#2735 chore: use composite action to generate library
  .github/scripts/hermetic_library_generation.sh
  .github/workflows/hermetic_library_generation.yaml
  README.md
  renovate.json
Labels: api: storage, size: m

#2733 test: update reflect-config for StorageNativeCanary to allow directpath to work
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/StorageNativeCanary.java
  google-cloud-storage/src/test/resources/META-INF/native-image/com/google/cloud/storage/reflect-config.json
  google-cloud-storage/src/test/resources/META-INF/native-image/com/google/cloud/storage/resource-config.json
Labels: api: storage, size: xl

#2741 chore: ensure generation is included when a grpc ReadObject is retried
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedReadableByteChannelTest.java
Labels: api: storage, owlbot:ignore, size: s
