Repository googleapis/java-storage, pull requests merged in 2024-02, with the labels that each got.

#2396 ci: unmanaged dependency check
  .github/sync-repo-settings.yaml
  .github/workflows/unmanaged_dependency_check.yaml
Labels: api: storage, size: s

#2413 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-storage-bom/pom.xml
  pom.xml
  renovate.json
Labels: api: storage, size: s

#2343 feat: Add Bidi write feature
  README.md
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiWriteCtx.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUploadSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/WriteFlushStrategy.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionTest.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/Bidi.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/StorageSharedBenchmarkingCli.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/StorageSharedBenchmarkingUtils.java
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/W1R3.java
Labels: api: storage, size: xl

#2417 docs: add samples for object retention
  README.md
  samples/snippets/src/main/java/com/example/storage/bucket/CreateBucketWithObjectRetention.java
  samples/snippets/src/main/java/com/example/storage/bucket/GetBucketMetadata.java
  samples/snippets/src/main/java/com/example/storage/object/GetObjectMetadata.java
  samples/snippets/src/main/java/com/example/storage/object/SetObjectRetentionPolicy.java
  samples/snippets/src/test/java/com/example/storage/ITBucketSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
Labels: api: storage, samples, size: m
