Repository googleapis/java-storage, pull requests merged in 2024-10, with the labels that each got.

#2755 chore: Remove release-please configs from README.
  .readme-partials.yaml
  README.md
Labels: api: storage, size: xs

#2753 test(samples): update sample tests to use BucketCleaner to cleanup buckets
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/test/java/com/example/storage/ConfigureRetriesTest.java
  samples/snippets/src/test/java/com/example/storage/ITBucketSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITStorageSnippets.java
  samples/snippets/src/test/java/com/example/storage/QuickstartSampleIT.java
  samples/snippets/src/test/java/com/example/storage/TestBase.java
  samples/snippets/src/test/java/com/example/storage/control/v2/FoldersTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/CreateManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/DeleteManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/GetManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/ListManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/transfermanager/ITTransferManagerSamples.java
Labels: api: storage, samples, size: m

#2757 test: update expected error code from conflicting preconditions to expect 412 for grpc transport
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadChannelTest.java
Labels: api: storage, owlbot:ignore, size: xs

#2762 chore: Any changes to the hermetic build inputs should trigger re-regeneration
  .github/workflows/hermetic_library_generation.yaml
Labels: api: storage, size: xs

#2752 chore: fix error message for JournalingBlobWriteSessionConfig
  google-cloud-storage/src/main/java/com/google/cloud/storage/JournalingBlobWriteSessionConfig.java
Labels: api: storage, size: xs

#2765 fix: update gRPC ReadObject retry to avoid double retry
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
Labels: api: storage, size: s

#2774 chore: group sdk-platform-java dep updates
  renovate.json
Labels: api: storage, size: xs

#2771 fix: fix createFrom resumable upload retry offset calculation
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
Labels: api: storage, size: xs

#2766 feat: promote gRPC transport to GA
  gapic-google-cloud-storage-v2/pom.xml
  google-cloud-storage-bom/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  grpc-google-cloud-storage-v2/pom.xml
  pom.xml
  proto-google-cloud-storage-v2/pom.xml
  versions.txt
Labels: api: storage, owlbot:ignore, size: m

#2783 feat: Add OpenTelemetry Traces to GRPC
  .github/sync-repo-settings.yaml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/OpenTelemetryInstance.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITOpenTelemetryTest.java
Labels: api: storage, size: m

#2803 feat: Add CreateBlob for HTTP
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITHttpOpenTelemetryTest.java
Labels: kokoro:force-run, api: storage, size: m

#2768 feat: adds support for restore token
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
Labels: api: storage, size: m
