Repository googleapis/java-storage, pull requests merged in 2024-03, with the labels that each got.

#2430 chore: update package-info with gRPC GA Allowlist
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/package-info.java
  samples/snippets/src/main/java/com/example/storage/QuickstartGrpcDpSample.java
Labels: api: storage, size: m

#2344 fix: missing serialVersionUID of serializable classes
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Notification.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
Labels: api: storage, owlbot:ignore, size: s

#2445 feat: add hierarchical namespace and folders features
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
Labels: api: storage, automerge, size: l

#2403 feat: add soft delete feature
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Bucket.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BucketInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpcSpans.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/testing/StorageRpcTestBase.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBucketTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/AbstractStorageProxy.java
Labels: api: storage, size: l

#2448 fix: Fix name digest for Parallel Composite Upload PartNamingStrategy NoPrefix
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: xs

#2434 feat: Add Custom Part Metadata Decorator to ParallelCompositeUploadConfig
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfigTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/SerializationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestClock.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: l

#2465 chore: update renovate config for unmanaged dependency check
  .github/workflows/unmanaged_dependency_check.yaml
  README.md
  renovate.json
Labels: api: storage, size: s

#2468 chore(benchmarking): Change bidi workload to be write only and pass bidi flag
  storage-shared-benchmarking/src/main/java/com/google/cloud/storage/benchmarking/StorageSharedBenchmarkingCli.java
Labels: api: storage, size: m

#2471 fix: update BidiBlobWriteSessionConfig to respect a provided bufferSize
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
Labels: api: storage, owlbot:ignore, size: m

#2444 ci: sample build in Cloud Build
  .cloudbuild/samples_build.yaml
  samples/snippets/src/test/java/com/example/storage/ITBucketSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/DeleteBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/ListPubSubNotificationsTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintPubSubNotificationTest.java
Labels: api: storage, samples, size: m

#2472 feat: port DefaultBlobWriteSessionConfig to work with HttpStorageOptions
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionTest.java
Labels: api: storage, owlbot:ignore, size: m

#2473 feat: port BufferToDiskThenUpload to work with HttpStorageOptions
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferToDiskThenUpload.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteSessionTest.java
Labels: api: storage, owlbot:ignore, size: m

#2474 feat: port ParallelCompositeUploadBlobWriteSessionConfig to work with HttpStorageOptions
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfigs.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableContentInputStream.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RewindableContentInputStreamTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITParallelCompositeUploadBlobWriteSessionConfigTest.java
Labels: api: storage, owlbot:ignore, size: l

#2469 chore: Transfer Manager Parallel Composite Uploads Prework
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/transfermanager/TransferManagerConfigTestingInstances.java
Labels: api: storage, owlbot:ignore, size: m
