Repository googleapis/java-storage, pull requests merged in 2024-05, with the labels that each got.

#2518 docs: Add in Transfer Manager chunked upload/download samples
  samples/snippets/src/main/java/com/example/storage/transfermanager/AllowDivideAndConquerDownload.java
  samples/snippets/src/main/java/com/example/storage/transfermanager/AllowParallelCompositeUpload.java
  samples/snippets/src/test/java/com/example/storage/transfermanager/ITTransferManagerSamples.java
Labels: api: storage, samples, owlbot:ignore, size: m

#2526 fix: ParallelCompositeUpload in Transfer Manager hangs when encountering OOM
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
Labels: api: storage, owlbot:ignore, size: s

#2521 fix: update StorageOptions to carry forward fields that aren't part of ServiceOptions
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferToDiskThenUpload.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JournalingBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageOptionsBuilderTest.java
Labels: api: storage, owlbot:ignore, size: l

#2529 feat: Remove @BetaApi Annotations for Transfer Manager operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/DownloadResult.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelDownloadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferStatus.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadJob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/UploadResult.java
Labels: api: storage, size: m

#2531 feat: promote google-cloud-storage-control to beta
  google-cloud-storage-bom/pom.xml
  google-cloud-storage-control/pom.xml
  grpc-google-cloud-storage-control-v2/pom.xml
  pom.xml
  proto-google-cloud-storage-control-v2/pom.xml
  samples/native-image-sample/pom.xml
  samples/snapshot/pom.xml
  versions.txt
Labels: api: storage, owlbot:ignore, size: s

#2527 fix: add strict client side response validation for gRPC chunked resumable uploads
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedChunkedResumableWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionQueryTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSessionFailureScenario.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableContent.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedChunkedResumableWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResumableSessionFailureScenarioTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
Labels: api: storage, owlbot:ignore, size: xl

#2532 fix: update grpc WriteObject response handling to provide context when a failure happens
  google-cloud-storage/src/main/java/com/google/cloud/storage/AsyncStorageTaskException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedChunkedResumableWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSessionFailureScenario.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ResumableSessionFailureScenarioTest.java
Labels: api: storage, owlbot:ignore, size: l

#2538 chore: Update Storage Control documentation to point to storage contr…
  .readme-partials.yaml
  README.md
Labels: api: storage, automerge, size: xs

#2534 test: add GrpcPlainRequestLoggingInterceptor and add it to BackendResources
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcPlainRequestLoggingInterceptor.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
Labels: api: storage, owlbot:ignore, size: m

#2547 feat: Plumb PartNamingStrategy for Parallel Composite Uploads in Transfer Manager
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
Labels: api: storage, size: m

#2537 fix: update GapicUnbufferedChunkedResumableWritableByteChannel to be tolerant of non-quantum aligned writes
  google-cloud-storage/src/main/java/com/google/cloud/storage/ChunkSegmenter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedChunkedResumableWritableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ChunkSegmenterTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITUnbufferedResumableUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
Labels: api: storage, owlbot:ignore, size: l

#2545 test: add test example of fillFrom properly handling 0 byte reads
  google-cloud-storage/src/test/java/com/google/cloud/storage/BuffersTest.java
Labels: api: storage, owlbot:ignore, size: m

#2553 fix: reduce Java 21 Virtual Thread Pinning in IO operations
  google-cloud-storage/src/main/java/com/google/cloud/storage/AsyncAppendingQueue.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BaseStorageReadChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BaseStorageWriteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannelV2.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobWriteChannelV2.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageByteChannels.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ThroughputSink.java
Labels: api: storage, owlbot:ignore, size: l
