Repository googleapis/java-storage, pull requests merged in 2024-12, with the labels that each got.

#2826 feat: introduce `java.time` methods and variables
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/testing/RemoteStorageHelper.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicReadTimeoutTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITHmacTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/testing/RemoteStorageHelperTest.java
Labels: api: storage, size: m

#2829 feat: Instrument Reader and Writer methods
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcOpenTelemetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITHttpOpenTelemetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITOpenTelemetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
Labels: api: storage, size: l

#2840 fix: update retry lifecycle when attempting to decompress a gzip object
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
Labels: api: storage, owlbot:ignore, size: m

#2853 chore: remove unnecessary context propagation
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
Labels: api: storage, size: m

#2850 fix: fix interrupt spiral in grpc ReadObject drainQueue
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
Labels: api: storage, size: m

#2852 fix: de-beta storage-v2 artifacts
  gapic-google-cloud-storage-v2/pom.xml
  google-cloud-storage-bom/pom.xml
  grpc-google-cloud-storage-v2/pom.xml
  pom.xml
  proto-google-cloud-storage-v2/pom.xml
  versions.txt
Labels: api: storage, size: s

#2855 fix: cleanup span names for reader and writer
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/OpenTelemetryInstance.java
Labels: api: storage, size: s
