Repository googleapis/java-storage, pull requests merged in 2024-06, with the labels that each got.

#2522 docs: update javadoc for createFrom
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
Labels: api: storage, size: s

#2562 docs: Managed Folders samples
  samples/snippets/src/main/java/com/example/storage/managedfolders/CreateManagedFolder.java
  samples/snippets/src/main/java/com/example/storage/managedfolders/DeleteManagedFolder.java
  samples/snippets/src/main/java/com/example/storage/managedfolders/GetManagedFolder.java
  samples/snippets/src/main/java/com/example/storage/managedfolders/ListManagedFolders.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/CreateManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/DeleteManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/GetManagedFolderTest.java
  samples/snippets/src/test/java/com/example/storage/managedfolders/ListManagedFolderTest.java
Labels: api: storage, samples, owlbot:ignore, size: l

#2577 chore(test): slightly restructure BackendResources to make more friendly to adding new values to Backends
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
Labels: api: storage, owlbot:ignore, size: m

#2567 fix: update grpc single-shot uploads to validate ack'd object size
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedDirectWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSessionFailureScenario.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedDirectWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
Labels: api: storage, owlbot:ignore, size: l

#2583 docs: add Hierarchical Namespace Bucket and Folders samples
  samples/snippets/src/main/java/com/example/storage/control/v2/CreateFolder.java
  samples/snippets/src/main/java/com/example/storage/control/v2/CreateHierarchicalNamespaceBucket.java
  samples/snippets/src/main/java/com/example/storage/control/v2/DeleteFolder.java
  samples/snippets/src/main/java/com/example/storage/control/v2/GetFolder.java
  samples/snippets/src/main/java/com/example/storage/control/v2/ListFolders.java
  samples/snippets/src/main/java/com/example/storage/control/v2/RenameFolder.java
  samples/snippets/src/test/java/com/example/storage/control/v2/FoldersTest.java
  samples/snippets/src/test/java/com/example/storage/control/v2/HNSTest.java
Labels: api: storage, samples, owlbot:ignore, size: l

#2578 chore: Fix broken sample tests
  google-cloud-storage/src/main/java/com/google/cloud/storage/testing/RemoteStorageHelper.java
  samples/snippets/src/test/java/com/example/storage/ITStorageSnippets.java
Labels: api: storage, samples, owlbot:ignore, size: xs

#2586 fix: include x-goog-user-project on resumable upload puts for grpc transport
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JournalingBlobWriteSessionConfig.java
Labels: api: storage, owlbot:ignore, size: s

#2572 fix: update grpc finalize on close resumable uploads to validate ack'd object size
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedFinalizeOnCloseResumableWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedFinalizeOnCloseResumableWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
Labels: api: storage, owlbot:ignore, size: l

#2570 fix: update grpc bidi resumable uploads to validate ack'd object size
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiWriteCtx.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSessionFailureScenario.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/FakeServer.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicBidiUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcPlainRequestLoggingInterceptor.java
Labels: api: storage, owlbot:ignore, size: xl

#2588 fix: add a workaround to make sure grpc clients' hosts always match their universe domain
  README.md
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITGrpcTest.java
Labels: api: storage, size: s

#2566 build: enable hermetic library generation
  .github/.OwlBot-hermetic.yaml
  .github/scripts/hermetic_library_generation.sh
  .github/scripts/update_generation_config.sh
  .github/workflows/hermetic_library_generation.yaml
  .github/workflows/update_generation_config.yaml
  README.md
  generation_config.yaml
Labels: api: storage, size: l
