Repository googleapis/java-storage, pull requests merged in 2024-01, with the labels that each got.

#2342 fix: Add an exception to zero byte uploads on CreateFrom
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: s

#2346 feat: next release from main branch is 2.31.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#2347 chore: owlbot configuration for /google/storage/control/v2
  .github/.OwlBot.yaml
Labels: api: storage, automerge, size: xs

#2353 test: add IT for HNS bucket
  google-cloud-storage-control/pom.xml
  google-cloud-storage-control/src/test/java/com/google/storage/control/v2/ITFoldersTest.java
Labels: api: storage, automerge, size: m

#2357 chore: deep-preserve for `ITFoldersTest`
  .github/.OwlBot.yaml
Labels: api: storage, automerge, size: xs

#2366 fix: Add an exception to zero byte uploads on CreateFrom
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: s

#2371 fix: Add an exception to zero byte uploads on CreateFrom (#2342)
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: s

#2362 feat: Adds TPC support
  README.md
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
Labels: api: storage, size: s
