Repository googleapis/java-storage, pull requests merged in 2024-11, with the labels that each got.

#2809 fix: set default values for monitored resource
  google-cloud-storage/src/main/java/com/google/cloud/storage/OpenTelemetryBootstrappingUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcMetricsTest.java
Labels: api: storage, size: s

#2808 feat: Instrument HTTP Reads and Rewrites
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITHttpOpenTelemetryTest.java
Labels: api: storage, size: m

#2811 feat: Take in a module name when creating a span
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/NoOpOpenTelemetryInstance.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/OpenTelemetryInstance.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/OpenTelemetryTraceUtil.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
Labels: api: storage, size: s

#2812 feat: Instrument HTTP readAllBytes
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITHttpOpenTelemetryTest.java
Labels: api: storage, size: s

#2815 feat: Instrument ReadAllBytes and CreateFrom in gRPC
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageInternal.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcOpenTelemetryTest.java
Labels: api: storage, size: m

#2807 Revert "feat: adds support for restore token"
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
Labels: api: storage, size: m

#2818 feat: Instrument gRPC downloadTo and Copy
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcOpenTelemetryTest.java
Labels: api: storage, size: m

#2824 feat: Instrument HTTP createFrom
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITHttpOpenTelemetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
Labels: api: storage, size: l

#2831 chore: mark the unmanaged dependency check required
  .github/sync-repo-settings.yaml
Labels: api: storage, size: xs
