Repository googleapis/java-storage, pull requests merged in 2025-08, with the labels that each got.

#2919 feat: enable ALTS bound token (for DirectPath) in the grpc channel provider
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
Labels: api: storage, size: xs

#3231 chore: merge train for nonblocking-appendable/** branches
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiAppendableUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiBlobWriteSessionConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiUploadState.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiUploadStreamingStream.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobAppendableUpload.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobAppendableUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobAppendableUploadImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Buffers.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ByteSizeConstants.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ChannelSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/FlushPolicy.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiUnbufferedAppendableWriteableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicBidiWritableByteChannelSessionBuilder.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedChunkedResumableWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedDirectWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedFinalizeOnCloseResumableWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionQueryTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/MinFlushBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ObjectReadSessionStream.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RetryContext.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/RewindableContent.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageChannelUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageDataClient.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageV2ProtoUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UploadFailureScenario.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiUploadStreamingStreamPropertyTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiUploadTestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BuffersTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITAppendableUploadFakeTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITAppendableUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITBidiAppendableUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITObjectReadSessionFakeTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITObjectReadSessionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/MinFlushBufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/RetryContextTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageChannelUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/TestUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UploadFailureScenarioTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ChecksummedTestContent.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcPlainRequestLoggingInterceptor.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcPlainRequestLoggingInterceptorTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
  google-cloud-storage/src/test/resources/logback.xml
Labels: api: storage, size: xl

#3260 chore: make OtelStorageDecorator package private again
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
Labels: api: storage, size: xs

#3261 feat: add AppendableUploadWriteableByteChannel#flush()
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiAppendableUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiUploadState.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiUploadStreamingStream.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobAppendableUpload.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobAppendableUploadImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BufferedWritableByteChannelSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/DefaultBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/MinFlushBufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnbufferedWritableByteChannelSession.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/DefaultBufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITAppendableUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/MinFlushBufferedWritableByteChannelTest.java
Labels: api: storage, size: m

#3259 feat: add BlobInfo.ObjectContexts
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobInfoTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BlobTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobReadMaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITOptionRegressionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/ObjectArbitraryProvider.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/jqwik/StorageArbitraries.java
Labels: api: storage, size: l
