Repository googleapis/java-storage, pull requests merged in 2025-09, with the labels that each got.

#3273 chore: update BlobInfo.contexts diff handling to be deep rather than shallow
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobInfo.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonConversions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonUtils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/JsonUtilsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNestedUpdateMaskTest.java
Labels: api: storage, size: l

#3289 chore: remove separate storage-control section from .readme-partials.yaml
  .readme-partials.yaml
  README.md
Labels: api: storage, size: m

#3295 fix: fix appendable upload finalization race condition
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiAppendableUnbufferedWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/BidiUploadState.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiAppendableUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiUploadTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/BidiUploadTestUtils.java
Labels: api: storage, size: l

#3275 samples: add samples for ranged reads and appendable uploads
  samples/snippets/src/main/java/com/example/storage/object/AppendableObjectMultipleRangedRead.java
  samples/snippets/src/main/java/com/example/storage/object/AppendableObjectReadFullObject.java
  samples/snippets/src/main/java/com/example/storage/object/AppendableObjectSingleRangedRead.java
  samples/snippets/src/main/java/com/example/storage/object/FinalizeAppendableObjectUpload.java
  samples/snippets/src/main/java/com/example/storage/object/ResumeAppendableObjectUpload.java
  samples/snippets/src/main/java/com/example/storage/object/StartAppendableObjectUpload.java
Labels: api: storage, samples, size: l

#3302 fix: fix IllegalMonitorStateException thrown from BlobAppendableUpload.isOpen()
  google-cloud-storage/src/main/java/com/google/cloud/storage/BlobAppendableUploadImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITAppendableUploadTest.java
Labels: api: storage, size: xs
