Repository googleapis/java-storage, pull requests merged in 2025-02, with the labels that each got.

#2910 docs: update storage_copy_file to include MegabytesCopiedPerChunk
  samples/snippets/src/main/java/com/example/storage/object/CopyObject.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
Labels: api: storage, size: m

#2930 fix: update grpc based Storage to defer project id validation
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITStorageOptionsTest.java
Labels: api: storage, size: s

#2929 docs: add note about HNS support to moveBlob
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
Labels: api: storage, size: xs

#2936 feat(transfer-manager): add ParallelUploadConfig.Builder#setUploadBlobInfoFactory
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/BucketNameMismatchException.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/ParallelUploadConfig.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/transfermanager/TransferManagerUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITTransferManagerTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/transfermanager/TransferManagerTest.java
Labels: api: storage, size: l

#2939 fix: update kms key handling when opening a resumable upload to clear the value in the json to be null rather than empty string
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
Labels: api: storage, size: xs

#2946 test: add slf4j and logback config for tests
  google-cloud-storage/pom.xml
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/StorageITRunner.java
  google-cloud-storage/src/test/resources/logback.xml
Labels: api: storage, size: m

#2949 chore: add renovate logging config
  google-cloud-storage/src/test/resources/logback.xml
  renovate.json
Labels: api: storage, size: s

#2952 chore: renovate config fix for ch.qos.logback:logback-classic
  renovate.json
Labels: api: storage, size: xs

#2941 feat: add new Options to allow per method header values
  google-cloud-storage/src/main/java/com/google/cloud/storage/ApiaryUnbufferedReadableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionPutTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSessionQueryTask.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableWrite.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ResumableSessionFailureScenario.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Utils.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/XGoogApiClientHeaderProvider.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITExtraHeadersOptionTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionPutTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITJsonResumableSessionQueryTaskTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/UnifiedOptsGrpcTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/AssertRequestHeaders.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcRequestAuditing.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/RequestAuditing.java
Labels: api: storage, size: xl

#2954 fix: categorize a WatchdogTimeoutException as retriable for grpc ReadObject
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
Labels: api: storage, size: xs

#2955 chore: set gcs-sdk-team as GCS CODEOWNER
  .github/CODEOWNERS
  .repo-metadata.json
  generation_config.yaml
Labels: api: storage, size: s

#2962 chore: add gemini config
  .gemini/config.yaml
Labels: api: storage, size: s
