Repository googleapis/java-storage, pull requests merged in 2025-01, with the labels that each got.

#2856 chore: refactor otel tracing of Storage to be a decorator rather than in method modification
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/NoOpOpenTelemetryInstance.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/OpenTelemetryInstance.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/OpenTelemetryTraceUtil.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/otel/package-info.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITOpenTelemetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITOpenTelemetryTestbenchTest.java
Labels: kokoro:force-run, api: storage, size: xl

#2858 fix: update request handling of gRPC based CopyWriter
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicCopyWriter.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
Labels: api: storage, size: m

#2859 test: update ITObjectTest to be parallel friendly
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITObjectTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/annotations/BucketType.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
Labels: api: storage, size: l

#2837 feat: introductory beta level support for OpenTelemetry tracing on c.g.c.storage.Storage methods
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/ParallelCompositeUploadWritableByteChannel.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageOptions.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITOpenTelemetryTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITOpenTelemetryTestbenchTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/otel/TestExporter.java
Labels: api: storage, size: xl

#2865 chore: capture failure when finalizing an upload for otel tracing
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
Labels: api: storage, size: xs

#2862 test: integrate otel into our StorageITRunner
  google-cloud-storage/pom.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/PackagePrivateMethodWorkarounds.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/ObjectsFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/OtelSdkShim.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Registry.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestRunScopedInstance.java
Labels: api: storage, size: l

#2880 fix: update Signed URL default scheme to resolve from storage options host
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITSignedUrlTest.java
Labels: api: storage, size: s

#2879 test: make registry fixture names more "name~spacy" to appear better in otel traces
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITUniverseDomainTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Registry.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestRunScopedInstance.java
Labels: api: storage, size: s

#2876 test: fix HttpRpcContextTest to not attempt environment credentials resolution
  google-cloud-storage/src/test/java/com/google/cloud/storage/spi/v1/HttpRpcContextTest.java
Labels: api: storage, size: xs

#2885 feat: next release from main branch is 2.48.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: storage, size: s

#2882 feat: add new Storage#moveBlob method to atomically rename an object
  google-cloud-storage/clirr-ignored-differences.xml
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/HttpRetryAlgorithmManager.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/OtelStorageDecorator.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/UnifiedOpts.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/StorageRpc.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/testing/StorageRpcTestBase.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITFoldersTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/AbstractStorageProxy.java
Labels: api: storage, size: l

#2872 fix: update StorageException translation of an ApiException to include error details
  google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/StorageExceptionGrpcCompatibilityTest.java
Labels: api: storage, size: m

#2861 docs: Create OpenTelemetry Quickstart Sample
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/storage/QuickstartOpenTelemetrySample.java
  samples/snippets/src/test/java/com/example/storage/QuickstartSampleIT.java
Labels: api: storage, size: m

#2899 test: add new Zone fixture to IT test runner registry
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITKmsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BackendResources.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/KmsFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/MetadataService.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Registry.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/Zone.java
Labels: api: storage, size: m

#2905 fix: update batch handling to ensure each operation has its own unique idempotency-token
  google-cloud-storage/src/main/java/com/google/cloud/storage/JsonResumableSession.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBatchTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITHttpIdempotencyTokenTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/spi/v1/HttpRpcContextTest.java
Labels: api: storage, size: m
