Repository googleapis/java-storage, pull requests merged in 2025-05, with the labels that each got.

#3080 fix: fix grpc ReadObject memory leak introduced in 2.51.0
  google-cloud-storage/src/main/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannel.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/GapicUnbufferedReadableByteChannelTest.java
Labels: api: storage, size: m

#3097 fix: update grpc client side metrics detection to be graceful when not running on gcp
  google-cloud-storage/src/main/java/com/google/cloud/storage/GrpcStorageOptions.java
  google-cloud-storage/src/main/java/com/google/cloud/storage/OpenTelemetryBootstrappingUtils.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGrpcMetricsTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/OpenTelemetryBootstrappingUtilsTest.java
Labels: api: storage, size: m

#3106 test: update error message classifier for rapid bucket creation failure
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BucketInfoShim.java
Labels: api: storage, size: xs

#3111 chore: hermetic build to manage the graalvm presubmit image versions
  renovate.json
Labels: api: storage, size: xs

#3115 test: update error message classifier for rapid bucket creation failure again
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/BucketInfoShim.java
Labels: api: storage, size: xs

#3108 test: switch all test logging to slf4j instead of j.u.l
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicBidiUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/ITGapicUnbufferedWritableByteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/ITRetryConformanceTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RetryTestFixture.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/conformance/retry/RpcMethodMappings.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/BucketCleaner.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/GrpcPlainRequestLoggingInterceptor.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITBlobWriteChannelTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/ITNotificationTest.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/StorageITLeafRunner.java
  google-cloud-storage/src/test/java/com/google/cloud/storage/it/runner/registry/TestBench.java
Labels: api: storage, size: m

#3109 chore: samples overhaul
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/storage/QuickstartStorageControlSample.java
  samples/snippets/src/main/java/com/example/storage/object/AddBlobOwner.java
  samples/snippets/src/main/java/com/example/storage/object/BatchSetObjectMetadata.java
  samples/snippets/src/main/java/com/example/storage/object/DownloadByteRange.java
  samples/snippets/src/main/java/com/example/storage/object/DownloadObject.java
  samples/snippets/src/main/java/com/example/storage/object/DownloadPublicObject.java
  samples/snippets/src/main/java/com/example/storage/object/PrintBlobAcl.java
  samples/snippets/src/main/java/com/example/storage/object/PrintBlobAclForUser.java
  samples/snippets/src/main/java/com/example/storage/object/RemoveBlobOwner.java
  samples/snippets/src/main/java/com/example/storage/object/SetObjectMetadata.java
  samples/snippets/src/main/java/com/example/storage/transfermanager/DownloadMany.java
  samples/snippets/src/test/java/com/example/storage/Env.java
  samples/snippets/src/test/java/com/example/storage/ITBucketSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITCleanupOldBucketsTest.java
  samples/snippets/src/test/java/com/example/storage/ITHmacSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITObjectSnippets.java
  samples/snippets/src/test/java/com/example/storage/ITStorageSnippets.java
  samples/snippets/src/test/java/com/example/storage/QuickstartSampleIT.java
  samples/snippets/src/test/java/com/example/storage/TestBase.java
  samples/snippets/src/test/java/com/example/storage/bucket/AddBucketDefaultOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/AddBucketOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/AutoclassTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketDualRegionTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/CreateBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/DeleteBucketPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/ListPubSubNotificationsTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintBucketAclFilterByUserTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintBucketAclTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PrintPubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/PubSubNotificationTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/RemoveBucketDefaultOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/bucket/RemoveBucketOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/object/AddBlobOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/object/DownloadBytesRangeTest.java
  samples/snippets/src/test/java/com/example/storage/object/PrintBlobAclForUserTest.java
  samples/snippets/src/test/java/com/example/storage/object/PrintBlobAclTest.java
  samples/snippets/src/test/java/com/example/storage/object/RemoveBlobOwnerTest.java
  samples/snippets/src/test/java/com/example/storage/transfermanager/ITTransferManagerSamples.java
Labels: api: storage, samples, size: xl
